.container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted #ccc;
    width: 100%;
}
.id_Customer {
    width: 125px;
    margin-left: 1%;
}
.nameCustomer {
    width: 125px;
    margin-left: 2%;
    text-align: left;
}
.name2Customer {
    width: 125px;
    margin-left: 1%;

    text-align: left;
}
.emailCustomer {
    width: 125px;
    margin-left: 1%;
    text-align: left;
}
.typeid {
    width: 125px;
    margin-left: 1%;
    text-align: center;
}
.skillid{
    width: 125px;
    margin-left: 2.5%;
    text-align: center;
}
.hourrate{
    width: 125px;
    margin-left: 2%;
}
.dailycap{
    width: 125px;
    margin-left: 5%;
}
.updateheader{
    width: 125px;
    margin-left: 6.5%;
}

.dateStyle {
    margin-left: 8%;
}
.lastitems{
    display: flex;
    margin-left: 6%;
}
.btnStyle  {
    background: #ff0000;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}