h1{
    color: #ffffff;
    flex: 0 1 90%;
    -webkit-flex: 0 1 90%;
    -moz-flex: 0 1 90%;
    -ms-flex: 0 1 90%;
    -o-flex: 0 1 90%;
}

.section{
    background-color: darkorange;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

link{
    background-color: transparent;
    border: none;
    width: 100px;
    color: white;
}
